<section class="panel delivery-time">
    <h2 role="heading" tabindex="0" aria-expanded="true">
      Leveranstid {{homeDeliveryMode}}
    </h2>
  
    <div class="panel-content">
      
      <h4 class="table-heading">
        Möjlighet att ändra order till idag kl 13:00
        <span class="small-text">
          <i class="fa fa-check text-success"></i>
          Du får SMS med exakt leveranstid
        </span>
      </h4>
      <ul
        class="time-picker table"
        role="radiogroup"
        aria-label="Välj leveranstid den 19 Februari"
      >

        <li *ngFor="let dTime of items">
          <input
            (change)="onSelection(dTime.deliveryTimeId)"
            aria-hidden="true"
            name="delivery-time-slot"
            tabindex="-1"
            type="radio"
            id={{dTime.deliveryTimeId}}
          />
          <label
            class="small"
            role="radio"
            tabindex="0"
            for={{dTime.deliveryTimeId}}
            aria-checked="false"
          >
            <span></span>
            {{dTime.timeSlot}}
          </label>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <button
        [attr.disabled]="disabled ? '' : null"
        [attr.disabled]="disabled ? '' : null"
        [attr.class]="disabled ? 'pull-right disabled': pull-right"
        role="button"
        tabindex="0"
        type="button"
        aria-label="Gå till nästa steg, betalning"
      >
        <strong>Nästa - Betalningssätt</strong>
      </button>
    </div>
  </section>
