/* You can add global styles to this file, and also import other style files */
@import '~reset-css';
@import './assets/provided-styles.css';

body{
    font-family: 'Open Sans'
}
a{
    color: teal;
    text-decoration: none;
}