<section class="panel panel-collapsed">
<div class="panel-summary">
    <div>
    <input id="in-home" name="in-home-check" type="checkbox" [checked]="homeDeliveryMode" (change)="onCheckClick()"/>
    <label
        aria-checked="false"
        class="whitespace-none"
        for="in-home"
        role="checkbox"
        tabindex="0"
        aria-label="Jag vill få leverans in i kylen och jag har ett Gluelås."
        ><span></span> In i kylen-leverans
        <div class="tag tag-default">För dig med Gluelås</div></label
    >
    </div>
</div>
</section>
